<div class="container">
  <h1>Angular Services</h1>

  <div class="card">
    <h2>App Counter: {{appCounterService.counter}}</h2>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
    <button class="btn" (click)="appCounterService.increase()">+</button>
  </div>

  <div class="card">
    <h2>App Counter2: {{appCounterService.counter}}</h2>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
    <button class="btn" (click)="appCounterService.increase()">+</button>
  </div>

  <div class="card">
    <h2>Local Counter: {{localCounterService.counter}}</h2>
    <button class="btn" (click)="localCounterService.decrease()">-</button>
    <button class="btn" (click)="localCounterService.increase()">+</button>
  </div>

  <div class="card">
    <h2>Local Counter2: {{localCounterService.counter}}</h2>
    <button class="btn" (click)="localCounterService.decrease()">-</button>
    <button class="btn" (click)="localCounterService.increase()">+</button>
  </div>

  <hr/>

  <app-counter></app-counter>
</div>
